{% extends "base.html" %}
{% load static %}

{% block tittle_text %}Actualizar Datos{% endblock tittle_text %}
{% block h1_text %}¿Qué deseas actualizar?{% endblock h1_text %}
{% block p_text %}Selecciona la sección que quieras modificar{% endblock p_text %}

{% block content %}
<div class="container py-5">
    <div class="mt-4">
        <a href="{% url 'home:actualizar_jugador' %}" class="btn btn-primary me-2">Jugadores</a>
        <a href="{% url 'home:actualizar_club' %}" class="btn btn-success me-2">Clubes</a>
        <a href="{% url 'home:actualizar_descripcion' %}" class="btn btn-info">Descripciones</a>
    </div>
</div>
{% endblock content %}


