{% extends "base.html" %}
{% load static %}

{% block tittle_text %}Actualizar Descripciones{% endblock tittle_text %}
{% block h1_text %}Actualizar Descripciones{% endblock h1_text %}
{% block p_text %}Lista de descripciones ingresadas por los usuarios{% endblock p_text %}

{% block content %}
<div class="container py-5">
    <ul class="list-group">
        {% for desc in descripciones %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ desc.texto }} - {{ desc.usuario }}
            <a href="{% url 'home:editar_descripcion' desc.id %}" class="btn btn-info btn-sm">Editar</a>
        </li>
        {% empty %}
        <li class="list-group-item">No hay descripciones.</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}

