{% extends "base.html" %}
{% load static %}

{% block tittle_text %}Actualizar Clubes{% endblock tittle_text %}
{% block h1_text %}Actualizar Clubes{% endblock h1_text %}
{% block p_text %}Lista de clubes registrados en el sistema{% endblock p_text %}

{% block content %}
<div class="container py-5">
    <ul class="list-group">
        {% for club in clubes %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ club.nombre }}
            <a href="{% url 'home:editar_club' club.id %}" class="btn btn-success btn-sm">Editar</a>
        </li>
        {% empty %}
        <li class="list-group-item">No hay clubes.</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}


