{% extends "base.html" %}
{% load static %}

{% block tittle_text %}Actualizar Jugadores{% endblock tittle_text %}
{% block h1_text %}Actualizar Jugadores{% endblock h1_text %}
{% block p_text %}Lista de jugadores ingresados en el sistema{% endblock p_text %}

{% block content %}
<div class="container py-5">
    <ul class="list-group">
        {% for jugador in jugadores %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ jugador.nombre }} {{ jugador.apellido }}
            <a href="{% url 'home:editar_jugador' jugador.id %}" class="btn btn-primary btn-sm">Editar</a>
        </li>
        {% empty %}
        <li class="list-group-item">No hay jugadores.</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}


