{% extends "base.html" %}
{% load static %}

{% block tittle_text %}Eliminar Jugador{% endblock tittle_text %}
{% block h1_text %}Confirmar eliminación{% endblock h1_text %}
{% block p_text %}¿Estás seguro de que quieres eliminar a este jugador?{% endblock p_text %}

{% block content %}
<div class="container py-5 text-center">
    <h3>¿Deseas eliminar a {{ object.nombre }} {{ object.apellido }}?</h3>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sí, eliminar</button>
        <a href="{% url 'home:actualizar_jugador' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock content %}


