{% extends "base.html" %}
{% load static %}

{% block tittle_text %}Eliminar Descripción{% endblock tittle_text %}
{% block h1_text %}Confirmar eliminación{% endblock h1_text %}
{% block p_text %}¿Estás seguro de que quieres eliminar esta descripción?{% endblock p_text %}

{% block content %}
<div class="container py-5 text-center">
    <h3>¿Deseas eliminar esta descripción?</h3>
    <p>{{ object.texto }} - {{ object.usuario }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-info">Sí, eliminar</button>
        <a href="{% url 'home:actualizar_descripcion' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock content %}
