{% extends "base.html" %}
{% load static %}

{% block tittle_text %}Eliminar Jugador{% endblock tittle_text %}
{% block h1_text %}Eliminar Jugadores{% endblock h1_text %}
{% block p_text %}Seleccioná un jugador para eliminar{% endblock p_text %}

{% block content %}
<div class="container py-5">
    <ul class="list-group">
        {% for jugador in jugadores %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ jugador.nombre }} {{ jugador.apellido }}
            <a href="{% url 'home:eliminar_jugador_confirm' jugador.id %}" class="btn btn-danger btn-sm">Eliminar</a>
        </li>
        {% empty %}
        <li class="list-group-item">No hay jugadores.</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}




