{% extends "base.html" %}
{% load static %}

{% block tittle_text %}Eliminar Comentario{% endblock tittle_text %}
{% block h1_text %}Eliminar Comentarios{% endblock h1_text %}
{% block p_text %}Seleccioná una Comentario para eliminar{% endblock p_text %}

{% block content %}
<div class="container py-5">
    <ul class="list-group">
        {% for desc in descripciones %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ desc.texto }} - {{ desc.usuario }}
            <a href="{% url 'home:eliminar_descripcion_confirm' desc.id %}" class="btn btn-info btn-sm">Eliminar</a>
        </li>
        {% empty %}
        <li class="list-group-item">No hay comentarios.</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}


