{% extends "base.html" %}
{% load static %}

{% block tittle_text %}Listado de Jugadores{% endblock tittle_text %}
{% block h1_text %}Listado de Jugadores{% endblock h1_text %}
{% block p_text %}Buscá y seleccioná jugadores de la lista{% endblock p_text %}

{% block content %}
<div class="container py-5">
    <form method="get" class="mb-3">
        <input type="text" name="nombre" placeholder="Buscar por nombre" value="{{ query }}" class="form-control w-50 d-inline">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <ul class="list-group">
        {% for jugador in jugadores %}
        <li class="list-group-item">
            <a href="{% url 'home:detalle_jugador' jugador.id %}">{{ jugador.nombre }} {{ jugador.apellido }}</a>
        </li>
        {% empty %}
        <li class="list-group-item">No se encontraron jugadores.</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}



