{% extends "base.html" %}

{% block tittle_text %}Cargar Paciente{% endblock tittle_text %}
{% block h1_text %}Nuevo Paciente{% endblock h1_text %}
{% block p_text %}Completa los datos del paciente para agregarlo a la base.{% endblock p_text %}

{% block content %}
<div class="container mt-4">
    {% if mensaje %}
      <div class="alert alert-success text-center">
        {{ mensaje }}
      </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-lg mt-3">Guardar Paciente</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}