{% extends "base.html" %}

{% block tittle_text %}Eliminar{% endblock tittle_text %}
{% block h1_text %}Eliminar elementos{% endblock h1_text %}
{% block p_text %}Seleccione qué desea eliminar de su base de datos.{% endblock p_text %}

{% block content %}
<div class="container text-center mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
            <a href="{% url 'panopolis:eliminar_paciente' %}" class="btn btn-danger btn-lg w-100">Eliminar Paciente</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{% url 'panopolis:eliminar_estudio' %}" class="btn btn-warning btn-lg w-100">Eliminar Estudio</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{% url 'panopolis:eliminar_resultado' %}" class="btn btn-info btn-lg w-100">Eliminar Resultado</a>
        </div>
    </div>
</div>
{% endblock %}