{% extends "base.html" %}
{% block tittle_text %}Tu Perfil{% endblock %}
{% block h1_text %}Bienvenido {{ usuario.username }}{% endblock %}
{% block p_text %}Mi Perfil{% endblock p_text %}

{% block content %}
<div class="container mt-4 text-white">

  {% if perfil.avatar %}
    <div class="text-center mb-4">
      <img src="{{ perfil.avatar.url }}"
           class="rounded-circle shadow"
           style="width: 120px; height: 120px; object-fit: cover;">
    </div>
  {% else %}
    <p class="text-center text-white">Este usuario no tiene avatar</p>
  {% endif %}

  <ul class="list-group">
    <li class="list-group-item bg-dark text-white">Nombre: {{ usuario.first_name }}</li>
    <li class="list-group-item bg-dark text-white">Apellido: {{ usuario.last_name }}</li>
    <li class="list-group-item bg-dark text-white">Edad: {{ perfil.edad }}</li>
    <li class="list-group-item bg-dark text-white">Hincha de: {{ perfil.hinchade }}</li>
    <li class="list-group-item bg-dark text-white">Usuario: {{ usuario.username }}</li>
    <li class="list-group-item bg-dark text-white">Email: {{ usuario.email }}</li>
  </ul>

  <div class="mt-3 d-flex gap-2">
    <a href="{% url 'usuarios:editar' %}" class="btn btn-warning px-4">Editar perfil</a>
    <a href="{% url 'usuarios:editar_contrasenia' %}" class="btn btn-danger px-4">Editar contraseña</a>
  </div>

</div>
{% endblock %}
