{% extends "base.html" %}

{% block tittle_text %}Editar Perfil{% endblock tittle_text %}
{% block h1_text %}Editar tu perfil{% endblock h1_text %}
{% block p_text %}Actualizá tus datos personales{% endblock p_text %}

{% block content %}
<div class="container mt-4 d-flex justify-content-center">
    <form method="post" enctype="multipart/form-data" style="max-width: 500px; width: 100%;">
        {% csrf_token %}
        {{ formulario.as_p }}
        <div class="d-flex justify-content-center gap-2 mt-3 flex-wrap">
            <button type="submit" class="btn btn-success px-4">Guardar cambios</button>
            <a href="{% url 'usuarios:detalle' %}" class="btn btn-secondary px-4">Cancelar</a>
        </div>
    </form>
</div>
{% endblock content %}

